<div class="p-1 flex flex-col items-start gap-1 ">
  <label for="{{name}}" class="text-md text-white {{required}}">{{label}}</label>
  <input style="" class="w-full text-white rounded-lg border border-[#3F3F46] p-3 text-sm bg-[#18181B]" name="{{name}}" placeholder="{{placeholder}}" type="{{type}}" {{required}} id="{{name}}" value="{{value}}" {{disabled}}/>
  <span class="text-yellow-500 text-sm">{{warning}}</span>
</div>
