<div class="{{class}}" id="{{id}}-container">
  <label class="text-sm text-white" for="{{name}}">{{label}}</label>
  <select id="{{id}}" name="{{name}}" {{#if req}} hx-{{method}}="{{url}}" hx-swap={{swap}} hx-target={{target}} {{/if}}
							class="flex bg-neutral-700 h-10 px-3 text-white py-2 text-sm border rounded-md border-neutral-300 focus:border-neutral-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-neutral-400 disabled:cursor-not-allowed disabled:opacity-50">
    {{#if elem}}
    {{else}}
    <option selected disabled hidden value="" class="cursor-pointer">choose your option</option>
    {{/if}}  
    {{#each elements}}
    <option class="cursor-pointer" value="{{this}}" {{#if (eq ../elem this)}} selected {{/if}}>{{#if (eq this ../recommended)}} {{ this }} (recommened) {{else}} {{ this }} {{/if}}</option>
    {{/each}}
  </select>
</div>
