<section class="sm:ml-64 px-8 py-4 min-h-full">
  <div class="relative w-full mx-auto lg:mb-0 mt-4 flex items-center justify-center">
    <div class="relative w-full md:mx-16 p-2 rounded-lg ">
      {{> Back}}
      <div class="flex flex-col mb-6 space-y-2 text-white">
        <h1 class="text-3xl font-semibold tracking-tight">Hook</h1>
        <hr class="font-bold border border-gray-200">
        <p class="text-sm"><span class="text-yellow-500 font-bold">Note:</span> Provide the appropriate and relevant hook details for effective model
          training. </p>
      </div>
      <form onsubmit="event.preventDefault();" class="space-y-2" id="hook_edit_form">
        <div class="top-form flex-col flex p-1 gap-4">
          <div class="left grid grid-cols-1 sm:grid-cols-2 gap-2">
            {{> input name="name" label="Name" type="text" value=hook.name}}
            {{> input name="description" label="Description" type="text" value=hook.description}}
          </div>
          {{> input name="url" label="Url" type="text" value=hook.url}}
          <div class="right grid grid-cols-1 sm:grid-cols-2 gap-2 p-1">
            <div class="input-container w-full">
              <label class="text-sm text-white" for="payload">Payload / Body</label>
              <div class="p-2 w-full h-full mx-auto flex-col gap-4">
                <p class="text-xs text-red-500 json-error hidden">Invalid JSON data</p>
                <textarea type="text" id="hook_payload" oninput="validateJSON(event);"
									style="background: rgb(13, 17, 23);"
									placeholder="Enter Payload data here." name="payload"
									class="flex w-full mt-2 min-h-[200px] px-3 py-2 text-sm bg-black border rounded-md text-white border-neutral-300 placeholder:text-neutral-400 focus:border-neutral-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-neutral-400 disabled:cursor-not-allowed disabled:opacity-50">{{hook.payload}}</textarea>
              </div>
            </div>
            <div class="input-container w-full">
              <label class="text-sm text-white" for="headers">Headers</label>
              <div class="p-2 w-full h-full mx-auto flex-col items-center gap-4">
                <p class="text-xs text-red-500 json-error hidden">Invalid JSON data</p>
                <textarea type="text" id="hook_{{btn_name}}" form="hook_edit_form" oninput="validateJSON(event);"
									style="background: rgb(13, 17, 23);"
									name="headers" placeholder="Enter Headers data here."
									class="flex w-full min-h-[200px] px-3 py-2 mt-2 text-sm text-white border rounded-md border-neutral-300 placeholder:text-neutral-400 focus:border-neutral-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-neutral-400 disabled:cursor-not-allowed disabled:opacity-50">{{hook.headers}}</textarea>
              </div>
            </div>
            <div class="input-container w-full flex gap-2 items-center">
              <label class="text-sm text-white" for="vision-toggle">Vision <span class="text-yellow-500">(for image analysis)</span></label>
              <input type="checkbox" name="vision" id="vision" {{#if hook.vision}} checked {{/if}} value="{{hook.vision}}" class="w-4 h-4 cursor-pointer" onClick="const c = document.getElementById('vision'); c.value=c.checked ? true : false ">
            </div>
          </div>
        </div>
        <div class="bottom-form flex flex-col gap-2">
          <div class="input-container w-full">
            <label class="text-sm text-white" for="hook_method">Request Method</label>
            <select id="hook_method" name="method"
							class="flex h-10 px-3 py-2 text-sm bg-white border rounded-md border-neutral-300 ring-offset-background focus:border-neutral-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-neutral-400 disabled:cursor-not-allowed disabled:opacity-50">
              {{#if hook.method}}
              {{else}}
              <option selected disabled hidden value="">choose your option</option>
              {{/if}}
              <option {{#if (eq hook.method "GET" )}} selected {{/if}} value="GET">GET</option>
              <option {{#if (eq hook.method "POST" )}} selected {{/if}} value="POST">POST</option>
              <option {{#if (eq hook.method "PUT" )}} selected {{/if}} value="PUT">PUT</option>
              <option {{#if (eq hook.method "PATCH" )}} selected {{/if}} value="PATCH">PATCH</option>
              <option {{#if (eq hook.method "DELETE" )}} selected {{/if}} value="DELETE">DELETE</option>
            </select>
          </div>
          <hr class="font-bold border border-gray-200">
          <div class="input-container w-full flex justify-end">
            {{> button method=method url=url class="inline-flex items-center justify-center w-40 h-10 px-4 py-2 text-sm font-medium tracking-wide text-black transition-colors duration-200 rounded-md bg-white hover:bg-gray-200 focus:ring-2 focus:ring-offset-2 focus:ring-neutral-900 focus:shadow-outline focus:outline-none" text="Save Hook"}}
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<script>
  function validateJSON(e) {
    const target = e.target;
    try {
      const data = target?.value;
      JSON.parse(data);
      target.form?.classList.remove("disabled");

      target.parentNode?.children[0].classList.add("hidden");
      return true;
    } catch (err) {
      target.parentNode?.children[0].classList.remove("hidden");
      target.form?.classList.add("disabled");
      return false;
    }
  }
</script>
